In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
for i in range(1,8):
    tmp = pd.read_csv(f'../submissions/s{str(i)}.csv')
    df[f"s{i}"] = tmp['label']
    
df.head()

   s1  s2  s3  s4  s5  s6  s7
0   0   0   0   0   0   0   0
1   1   1   1   1   1   3   1
2   3   1   1   2   2   3   2
3   1   1   1   1   2   1   1
4   4   4   2   0   0   2   3

In [4]:
pred_y_test = df.mode(axis=1)[0]
pred_df = pd.DataFrame({'ID': df.index.values, 'label': pred_y_test.astype(int)})
pred_df.to_csv('../ensemble_voting.csv', index=False)

In [5]:
pred_y_test.value_counts()

0.0    16
1.0    16
2.0     8
3.0     7
4.0     3
Name: 0, dtype: int64