In [2]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame()
files = ['s1_rf_170423', 's2_180423_xgb', 's3_rf_230423', 's4_dt_240423', 's5_dt_300423', 's6_xgb_010523', 's7_lgbm_010523']
for name in files:
    tmp = pd.read_csv(f'./submissions/{name}.csv')
    df[name] = tmp['label']    
df.head()

,s1_rf_170423,s2_180423_xgb,s3_rf_230423,s4_dt_240423,s5_dt_300423,s6_xgb_010523,s7_lgbm_010523
0,0,0,0,0,0,0,0
1,1,1,3,1,1,1,1
2,2,2,3,2,1,1,3
3,1,2,1,1,1,1,1
4,0,0,2,3,2,4,4

In [13]:
pred_y_test = df.mode(axis=1)[0]
pred_df = pd.DataFrame({'ID': df.index.values, 'label': pred_y_test.astype(int)})
pred_df.to_csv('./ensemble_voting1.csv', index=False)

In [14]:
pred_y_test.value_counts()

0.0    16
1.0    16
2.0     8
3.0     7
4.0     3
Name: 0, dtype: int64

In [17]:
df = pd.DataFrame()
files = ['s1_rf_170423', 's2_180423_xgb', 's3_rf_230423', 's4_dt_240423', 's5_dt_300423', 's6_xgb_010523', 's7_lgbm_010523', 's8_rf_020523', 's9_xgb_030523']
for name in files:
    tmp = pd.read_csv(f'./submissions/{name}.csv')
    df[name] = tmp['label']
df.head()

,s1_rf_170423,s2_180423_xgb,s3_rf_230423,s4_dt_240423,s5_dt_300423,s6_xgb_010523,s7_lgbm_010523,s8_rf_020523,s9_xgb_030523
0,0,0,0,0,0,0,0,0,0
1,1,1,3,1,1,1,1,3,1
2,2,2,3,2,1,1,3,1,1
3,1,2,1,1,1,1,1,1,1
4,0,0,2,3,2,4,4,1,1

In [18]:
pred_y_test = df.mode(axis=1)[0]
pred_df = pd.DataFrame({'ID': df.index.values, 'label': pred_y_test.astype(int)})
pred_df.to_csv('./ensemble_voting2.csv', index=False)

In [19]:
pred_y_test.value_counts()

1.0    19
0.0    17
2.0     5
3.0     5
4.0     4
Name: 0, dtype: int64